<!DOCTYPE html>
<html>
 
<head>
    <title>first example</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/views/js/jquery.js"></script>

    
    <script>
    $(function(){
        
    })
    function fn_login(){
        var UserId = $("#UserId").val();
        var password = $("#password").val();
        $.post("/login",{userid:UserId,password:password}).done(function(data){
            window.location.href ="/"

        })
    }
    </script>
</head>
 
<body >

UserId : <input type="text" id="UserId" value="liche2"><br>
Password:<input type="text" id="password" value="admin888"><br>
<input type="button" value="login" onclick="fn_login()">
	<p><span id="usernamespan"></span>：登录成功</p>
</body>
 
</html>